<footer id="footer" class="footer">
  <div class="copyright">
    &copy; <strong>FoxSistemas</strong> —
    <%= currentYear %> |
    <%= currentDate %> |
    IP: <%= clientIp %>
    <br>
    Todos os direitos reservados.
  </div>
</footer>
